<div id="messages">
  <!-- send message -->
  <div class="ui reply form">
    <div class="field">
      <textarea ng-model="newmessage.Message.message" placeholder="Type your message here .." id="message-area"></textarea>
    </div>
    <button class="ui blue button pull-right" ng-click="sendMessage()">
      <i class="send outline icon"></i> Send Message
    </button>
  </div>
  <!-- .send message -->
  
  <div class="clearfix"></div>
  <div class="ui divider"></div>
  
  <!-- message lists -->
  <div class="personal-message-container">
    <div class="ui comments">
      <div class="comment" ng-repeat="message in messages">
        <a class="avatar">
          <img ng-src="{{ message.image }}">
        </a>
        <div class="content">
          <a class="author">{{ message.name }}</a>
          <div class="metadata">
            <div class="date" ng-if="message.created!=null">{{ message.created|fromNow }}</div>
          </div>
          <div class="text">
            {{ message.message }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .message lists -->
</div>






