<div class="left">
  <div class="brand">
    PMTOOL
  </div>

  <div class="user-info">
    <img ng-src="{{ member.avatar }}">
    <div class="name" ng-cloak>{{ member.first_name }} {{ member.last_name }}</div>
    <div class="email" ng-cloak>{{ member.email }}</div>
    <div class="action"><a href="{{ logoutUrl }}" target="_self">signout</a></div>
  </div>

  <div class="left-menu">
    <ul>
      <li class="active"><a href="#messages">Messages</a></li>
      <li><a href="#groups">Groups</a></li>
      <li><a href="#settings">Settings</a></li>
    </ul>
  </div>

  <div class="messages">
    <div class="title">Online Users</div>

    <div class="user" ng-repeat="member in onlineMembers">
      <img ng-src="{{ member.avatar }}">
      <div class="name" ng-cloak>{{ member.first_name }} {{ member.last_name }}</div>
      <div class="location" ng-cloak>{{ member.city }}, {{ member.country }}</div>
    </div>

    <div class="title">Offline Users</div>
  </div>
</div>