<div class="left">
  <div class="brand">
    PMTOOL
  </div>

  <div class="user-info">
    <img ng-src="{{ member.avatar }}">
    <div class="name" ng-cloak>{{ member.first_name }} {{ member.last_name }}</div>
    <div class="email" ng-cloak>{{ member.email }}</div>
    <div class="action"><a href="#logout">signout</a></div>
  </div>

  <div class="left-menu">
    <ul>
      <li class="active"><a href="#messages">Messages</a></li>
      <li><a href="#groups">Groups</a></li>
      <li><a href="#settings">Settings</a></li>
    </ul>
  </div>

  <div class="messages">
    <div class="title">Online Users</div>

    <div class="user">
      <img src="<?php echo $this->base ?>/assets/dummy/img/2.png">
      <div class="name">Daley Connell</div>
      <div class="location">Manila, Philippines</div>
    </div>
    <div class="user">
      <img src="<?php echo $this->base ?>/assets/dummy/img/3.png">
      <div class="name">Alvin Ryan</div>
      <div class="location">Manila, Philippines</div>
    </div>
    <div class="user">
      <img src="<?php echo $this->base ?>/assets/dummy/img/4.png">
      <div class="name">Jerrold Jeff</div>
      <div class="location">Manila, Philippines</div>
    </div>
    <div class="user">
      <img src="<?php echo $this->base ?>/assets/dummy/img/5.png">
      <div class="name">Delano Merrick</div>
      <div class="location">Manila, Philippines</div>
    </div>
    <div class="user">
      <img src="<?php echo $this->base ?>/assets/dummy/img/6.png">
      <div class="name">Kendal Beaumont</div>
      <div class="location">Manila, Philippines</div>
    </div>

    <div class="title">Offline Users</div>
  </div>
</div>